{% extends 'Quiz/basev4.html' %}
{% block content%}
{% load static %}

<h1>UKHSA Conference 2023 Content</h1>
<h2>Presentations across the two days.</h2>
<h3></h3>
<ul class="govuk-list">
  <!-- <li>
    <a class="govuk-link" href="/item1/">Multi-Threat Data Dashboard</a>
  </li> -->
  <li>
    <a class="govuk-link" href="/content/GreenOps.pdf" target="_blank" rel="noopener noreferrer">GreenOps Dashboard</a>
  </li>
  <!-- <li>
    <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">MetaHuman AI</a>
  </li>
  <li>
    <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">Item 5</a>
  </li>
  <li>
    <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">Item 6</a>
  </li>
  <li>
    <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">Item 7</a>
  </li>
  <li>
    <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">Item 8</a>
  </li>
  <li>
    <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">Item 9</a>
  </li>
  <li>
    <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">Item 10</a>
  </li> -->
</ul>

<!-- <img src="/static/turkey.png" alt="Picture of a Turkey"> -->
{%endblock%}
