{% extends 'Quiz/basev4.html' %}
{% block content%}
{% load static %}

<h1>UKHSA Conference 2023 Content</h1>
<h2>Presentations across the two days.</h2>
<p>Please be aware these links open PDF documents in a new tab, and are best viewed in landscape mode.</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/content/UKHSA Data Dashboard.pdf" target="_blank" rel="noopener noreferrer">Multi-Threat Data Dashboard</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/UKHSA GreenOps.pdf" target="_blank" rel="noopener noreferrer">GreenOps Dashboard</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/UKHSA Genomics.pdf" target="_blank" rel="noopener noreferrer">Genomics - UKHSA</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/VDEC.pdf" target="_blank" rel="noopener noreferrer">Technology Opportunities to Support the Vaccine, Development and Evaluation Centre (VDEC)</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/UKHSA Big Rocks.pdf" target="_blank" rel="noopener noreferrer">Big Rocks - UKHSA</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/UKHSA Conference - AWS.pdf" target="_blank" rel="noopener noreferrer">How Amazon Web Services is supporting the UK Health Security Agency</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/GenAI with MetaHuman.pdf" target="_blank" rel="noopener noreferrer">GenAI With MetaHuman - Capgemini</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/Deloitte - Digital Equity by Design - UKHSA Annual Conference 2023 (1).pdf" target="_blank" rel="noopener noreferrer">Digital Equity By Design - Deloitte</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/Developing AI and Large Language Models for sci computing applications.pdf" target="_blank" rel="noopener noreferrer">Developing Artificial Intelligence (AI) and Large Language Models (LLM) for scientific computing applications</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/Sustainability & E-waste - UCISA 2023.pdf" target="_blank" rel="noopener noreferrer">Sustainability & E-Waste with The Stone Group</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/UKHSA - Conference Nov23 - OpenAI.pdf" target="_blank" rel="noopener noreferrer">Artificial Intellience in Science and Health Care - BJSS</a>
  </li>
  <li>
    <a class="govuk-link" href="/content/UKHSA 2023 AI with OCF.pdf" target="_blank" rel="noopener noreferrer">How Artificial Intelligence is Transforming Genomics - OCF</a>
  </li>
</ul>
<!--  -->
<!--  -->
<!-- UKHSA - Conference Nov23 - OpenAI.pdf -->
<!-- UKHSA 2023 AI with OCF.pdf -->
<!--  -->


<!-- <img src="/static/turkey.png" alt="Picture of a Turkey"> -->
{%endblock%}
