{% extends 'Quiz/basev4.html' %}
{% block content%}
{% load static %}

<style>
        .nowrap-div {
            white-space: nowrap;
        }
      body {
          font-family: "GDS Transport",Arial, Helvetica, sans-serif;
        }
        </style>

<h1>UKHSA Conference 2023: Technology</h1>
<p class="govuk-body" >Over the two day conference the Technology department will be presenting flagship products, innovations with Business Partners, and exciting demonstrations from suppliers.</p>

<p class="govuk-body">Make sure to attend all the talks at the Technology stand, and participate in the quiz. All entries who register will be entered in a prize draw.</p>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span>
      Quiz and Prizes
    </span>
  </summary>
  <div class="govuk-details__text">
      <p>Do you have more computing power than an AI? Complete the quick quiz to test your processing power. Best of all there are prizes: one lucky winner will receive a Microsoft Surface Pro 9 with keyboard; and four runners up will each receive an Amazon Alexa Echo Dot (5th Gen).
    Some of the answers can be found on this website.</p>
<p>To find out more, come to the Technology stand and have a chat with us. Follow this link for <a class="govuk-link" href="/termsandconditions/">
  T&C's
</a></p>
</div>
<div class="">

    &nbsp;
    <a href="/quiz/"><button padding="20px" href = "/quiz/" type="submit" name="save" class="govuk-button" data-module="govuk-button">
        Enter Quiz
        </button></a>
  </div>



</details>
<p class="govuk-body">All the answers will be revealled in the various presentations that will be delivered over the two days.</p>

<!-- <img src="static/UKHSA master logo white 240x240.png" width =70> -->
<h2>Agenda for Events at the Technology Stand</h2>
<h3>Demos:</h3>
<p class="govuk-body">Running throughout the two days as part of the UKHSA commitment to  inclusion we will be demoing the new accessibility features of Windows 11 laptops

Alongside the Windows 11 we will also be running an interactive demo of Microsoft's new AI assistant feature Copilot.

On the Tuesday and Wednesday afternoons we will having interactive demonstration of Microsoft’s  mixed reality Hololens.</p>

<h3>Presentations:</h3>
<p class="govuk-body">Presentations will be running through out the course of the day during the morning, lunch and afternoon breaks. <br>
Please see drop down items for timings:</p>




<h2>Day 1<br>Wednesday 15th October</h2>
<!-- Accordion Section 1 -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Morning Session
        </span>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class="govuk-body">Timings for the morning talks </p>
        <h4>Opening Presentation</h4>
        <div class="grid-container">
          <div class="grid-item">
            <!-- Item 1  -->
              <p class="govuk-body">Welcome to the Technology Stand by Chris Coupland - Chief Information Officer, Technology, UKHSA</p>
          </div>
          <div class="grid-item">
            <p class="govuk-body" > 11:00am - 11:05am</p>
                    </div>
    </div>


<!-- Item 2  -->
<!-- <div class="grid-row">
  <div class="govuk-grid-column-one-half">
    <h4>Multi-Threat Data Dashboard</h4>
  </div>
  <div class="govuk-grid-column-one-half">
    <h4>11:05am - 11:20am</h4>
  </div>
  </div> -->
<h4>Big Rocks</h4>
    <div class="grid-container">
      <div class="grid-item">
          <p class="govuk-body">What the Technology Big Rocks means for UKHSA<br>with Graham Whitehouse (Principal Technical Architect, UKHSA) and Dan Farrar (Lead Enterprise Architect, UKHSA)</p>
      </div>
      <div class="grid-item">
        <p class="govuk-body" > 11:05am - 11:15am</p>
                </div>
              </div>

<!-- Item 3  -->

<h4>Q&A with Technology</h4>
    <div class="grid-container">
      <div class="grid-item">
          <p class="govuk-body">Questions and other remarks from Technology Senior Leadership Team​</p>
      </div>
      <div class="grid-item">
        <p class="govuk-body" > 11:15am - 11:20am</p>
                </div>
              </div>


  </div>




  <!-- Accordion Section 2 -->
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Lunch Time Session
        </span>
      </h3>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
<h4>Sustainability - with the Stone Group</h4>
      <div class="grid-container">
        <div class="grid-item">

          <!-- Item 1  -->

            <p class="govuk-body">Technology Designed, Served and Sustained­ with Joshua Thorne The Stone Group</p>
        </div>
        <div class="grid-item">
          <p class="govuk-body" > 12:40pm - 12:50pm</p>
                  </div>
  </div>


<!-- Item 2  -->

<h4>GreenOps Dashboard</h4>
  <div class="grid-container">
    <div class="grid-item">
        <p class="govuk-body">How GreenOps is helping the UKHSA innovate GreenTech <br>Presented by Ravi Dhirani - Non-Functional Test Lead, Technology, UKHSA</p>
    </div>
    <div class="grid-item">
      <p class="govuk-body" > 12:55pm - 1:05pm</p>
              </div>
            </div>

          <!-- Item 3  -->


          <h4>Digital Equity By Design</h4>
            <div class="grid-container">
              <div class="grid-item">
                  <p class="govuk-body">Achieving Digital Equity by Design with Shilpa Shah - Deloitte​</p>
              </div>
              <div class="grid-item">
                <p class="govuk-body" > 1:10pm - 1:20pm</p>
                        </div>
                      </div>

<!-- Item 4  -->
<h4>MetaHuman</h4>
      <div class="grid-container">
        <div class="grid-item">

          <!-- Item 1  -->

            <p class="govuk-body">Generative AI with MetaHuman with Avraaj Matharu -Capgemini​</p>
        </div>
        <div class="grid-item">
          <p class="govuk-body" > 1:25pm - 1:35pm</p>
                  </div>
  </div>

  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Afternoon Session
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
<h4>Vaccine Development Evaluation Centre</h4>
      <div class="grid-container">
        <div class="grid-item">

          <!-- Item 1  -->

            <p class="govuk-body">Technology and the Vaccine Development Evaluation Centre (VDEC)<br> with Steve Fox - Senior Product Manager, UKHSA</p>
        </div>
        <div class="grid-item">
          <p class="govuk-body" > 3:35pm - 3:45pm</p>
                  </div>
  </div>


<!-- Item 2  -->

<h4>Machine Learning and Scientific Workloads</h4>
  <div class="grid-container">
    <div class="grid-item">
        <p class="govuk-body">How AI is Advancing Genomic Analysis with Vibin Vijay - OCF</p>
    </div>
    <div class="grid-item">
      <p class="govuk-body" > 3:50pm - 4:00pm</p>
              </div>
            </div>

          <!-- Item 3  -->


          <!-- <h4>Culture of Innovation</h4>
            <div class="grid-container">
              <div class="grid-item">
                  <p class="govuk-body">Technology Partners in Public Cloud <br>Presented by AWS</p>
              </div>
              <div class="grid-item">
                <p class="govuk-body" > 1:00pm - 1:10pm</p>
                        </div>
                      </div> -->



  </div>

<h2>Day 2<br>Thursday 16th October</h2>

<!-- Accordion Section 1 for thursday  -->
<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h3 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
        Morning Session
      </span>
    </h3>
  </div>
  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
<h4>Data Dashboard</h4>
    <div class="grid-container">
      <div class="grid-item">

        <!-- Item 1  -->

          <p class="govuk-body">How the Data Dashboard helps the UKHSA’s <br>fight against Health Threats with Benjamin Collier - Head of Development, DevOps, UKHSA​</p>
      </div>
      <div class="grid-item">
        <p class="govuk-body" > 11:20am - 11:30am</p>
                </div>
</div>


<!-- Item 2  -->
<!--
<h4>Genomics​</h4>
<div class="grid-container">
  <div class="grid-item">
      <p class="govuk-body">Technology and the Genomics Programme with MinhTruc Smith - Product Lead, UKHSA</p>
  </div>
  <div class="grid-item">
    <p class="govuk-body" > 11:30pm - 11:40pm</p>
            </div>
          </div> -->

        <!-- Item 3  -->
<!--

        <h4>Health Protection Trends</h4>
          <div class="grid-container">
            <div class="grid-item">
                <p class="govuk-body">A Global View<br>Presented by Shilpa Shah, Deloitte</p>
            </div>
            <div class="grid-item">
              <p class="govuk-body" > 1:00pm - 1:10pm</p>
                      </div>
                    </div> -->


</div>
<!-- Accordion Section 4 -->
<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
        Lunch Time Session
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

    <h4>Genomics​</h4>
    <div class="grid-container">
      <div class="grid-item">
          <p class="govuk-body">Technology and the Genomics Programme with MinhTruc Smith - Product Lead, UKHSA</p>
      </div>
      <div class="grid-item">
        <p class="govuk-body" > 12:45pm - 12:55pm</p>
                </div>
              </div>

<h4>AI and Large Language Models </h4>
  <div class="grid-container">
    <div class="grid-item">
        <p class="govuk-body">Developing AI and LLMs for scientific computing applications (JANUS project)<br>Presented by Ravi Dhirani (UKHSA), and Jack Hunter (UKHSA)</p>
    </div>
    <div class="grid-item">
      <p class="govuk-body" > 1:00pm - 1:10pm</p>
              </div>
            </div>

<!-- Item 2  -->

<h4>Amazon Web Services</h4>
<div class="grid-container">
  <div class="grid-item">
      <p class="govuk-body">How Amazon Web Services (AWS) is supporting the UK Heath Security Agency <br> with Sergio Rodrigues (AWS) & Francis Mostyn (AWS)</p>
  </div>
  <div class="grid-item">
    <p class="govuk-body" > 1:15pm - 1:25pm</p>
            </div>
          </div>

        <!-- Item 3  -->


        <h4>AI in Healthcare</h4>
          <div class="grid-container">
            <div class="grid-item">
                <p class="govuk-body">Presented by James Storr - BJSS</p>
            </div>
            <div class="grid-item">
              <p class="govuk-body" > 1:30pm - 1:40pm</p>
                      </div>
                    </div>


</div>
</div>



&nbsp;



<style>
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  <!-- background-color: #2196F3; -->
  padding: 10px;
}

.grid-item {
  <!-- background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8); -->
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

<!-- css for button width -->
.govuk-button {width: 50%;}



</style>
<!-- </head> -->


<div class="">
</div>
{%endblock%}
