{% extends 'Quiz/basev4.html' %}
{% block content%}
{% load static %}


<h1>UKHSA Technology Conference 2023 Prize Draw Terms &amp; Conditions</h1>

<ol type="1">

<li id="clause1">Unless the context requires, following words shall have the following meanings:
    <ol type="1">
        <li>Promoter means: UK Health Security Agency, an executive agency of the Department of Health and Social Care, with headquarters at UKHSA, 5th Floor, 10 South Colonnade, London, E14 4PU;</li>
        <li>The Conference means UKHSA Conference 2023;</li>
        <li>Draw Date means 21 November 2023;</li>
        <li>Star Prize means Microsoft Surface Pro 9 with TypeCover keyboard;</li>
        <li>Runner Up Prize: up to 4 Amazon Alexa Echo Dot (5th Gen);</li>
        <li>UKHSA staff includes permanent staff, temporary staff including those employed by delivery partners, contractors, seconded staff etc;</li>
        <li>UKHSA Technology staff includes the same categories within the UKHSA Technology directorate </li>
        <li>Privacy Policy and data processing are as set out in <a href="#ppdp">Schedule 1</a></li>



    </ol>

</li>
<li>The prize draw is open to:

    <ol type="a">

        <li>all visitors to  the UKHSA Conference 2023 who have submitted the Conference feedback form online and sent the email as requested following completion of the feedback;</li>
        <li>all UKHSA staff whether they are attending the conference or not who have submitted the Conference feedback form online and sent the email as requested following completion of the feedback </li>
        <li>the prizes are open to all Conference visitors and UKHSA staff; and</li>
        <li>the Star Prize cannot be won by UKHSA Technology Directorate staff members. </li>
    </ol>
</li>

<li>The prize draw is free to enter and no purchase is necessary. You will be entered into the prize draw following submission of the Conference feedback form online sent the email as requested following completion of the feedback.</li>

<li>All entries must be submitted via the feedback form at <a href="https://annualconference.ukhsatechnology.co.uk/quiz/">https://annualconference.ukhsatechnology.co.uk/quiz/</a> and only one entry per person is permitted. Entrants cannot win more than one prize.</li>
<li id="clause5">The opening date for entries is 9:00am on 15 November 2023. The closing date of the prize draw is 6:00pm on 20 November 2023. Entries received after this time will not be counted. </li>
<li>The Promoter accepts no responsibility for entries not successfully completed due to a technical fault, technical malfunction, website failure, computer hardware or software failure, satellite, network or server failure of any kind etc,.</li>

<li id="clause7">Winner(s) will be chosen by random draw performed by a computer process on the Draw Date provided that:
    <ol type="a">
        <li>If the winning entry for the Star Prize is a member of UKHSA’s Technology Directorate, that person will be allocated the Runner Up Prize and the Star Prize will be randomly drawn again. </li>
        <li>Should the next Star Prize winning entry be a member of UKHSA’s Technology Directorate, that person will be allocated the next Runner Up Prize (where available) and the Star Prize will be randomly drawn again. This process will be repeated until a qualifying winner (who is not a UKHSA Technology Directorate staff member) is randomly selected for the Star Prize.</li>
    </ol>
</li>

<li>The winners will receive either the Star Prize or Runner Up Prize in accordance with the process set out in <a href="#clause7">clause 7</a> above.</li>
<li id="clause9">The winner(s) will be notified by email (using details provided at entry) before November 30 2023 and the winner(s) must provide a full United kingdom postal address to claim their prize. If a winner does not respond to the Promoter within 10 days of being notified by the Promoter, then the winner's prize will be forfeited and the Promoter will be entitled to select another winner in accordance with the process described in <a href="#clause7">clause 7</a> above.</li>
<li>The prize will be sent to the winner(s) by courier services to United Kingdom postal addresses within <b>10</b> days of being notified of their win.</li>

<li>The prize for the winner is non-exchangeable, non-transferable and no cash alternative can be offered.</li>
<li>The Promoter reserves the right to replace either the Star Prize or the Runner Up Prize with alternative prize of equal or lesser, or higher value if circumstances beyond the Promoter's control makes it necessary to do so.</li>
<li>The decision of the Promoter regarding any aspect of the prize draw is final and binding and no correspondence will be entered into about it.</li>

<li id="clause14">The Promoter must either publish or make available information that indicates that a valid award took place. To comply with this obligation the Promoter will send the surname and county of  the prize winner(s) and, if applicable, redacted copies of their winning entries can be requested by emailing <b>conferencequiz@ukhsa.gov.uk</b> within one (1) month after the closing date stated in <a href="#clause5">clause 5</a> above. If you object to your surname and county being published or made available, please contact the Promoter by emailing <b>conferencequiz@ukhsa.gov.uk</b>. The Promoter reserves the right to  provide the information of the winning entry to the Advertising Standards Authority on request and in compliance with its obligations.</li>

<li>Participants are deemed to have accepted and agreed to be bound by these terms and conditions upon entry. The Promoter reserves the right to refuse entry or refuse to award the prize to anyone in breach of these terms and conditions.</li>

<li>The Promoter reserves the right to hold void, cancel, suspend, or amend the promotion where it becomes necessary to do so.</li>

<li>Insofar as is permitted by law, the Promoter, its agents or distributors will not in any circumstances be responsible or liable to compensate the winner or accept any liability for any loss, damage, personal injury or death occurring as a result of taking up the prize except where it is caused by the negligence of the Promoter, its agents or distributors or that of their employees. Your statutory rights are not affected.</li>
<li>Personal data supplied during the course of this promotion will only be processed as set out in the Promoter's Privacy Policy. See also <a href="#clause14">clause 14</a>  with regard to the announcement of winners.</li>
<li>These terms and conditions and this promotion are governed by English law. If any entrants to this promotion wish to take court proceedings, then they must do this within the courts in the United Kingdom.</li>
<li>Privacy Policy and data processing are as set out in <a href="#ppdp">Schedule 1</a>.</li>

</ol>

<h2 id="ppdp">Schedule 1: Privacy Policy and data processing</h2>
<ol type="a">

        <li>No personal information will be held as part of the quiz and feedback element; answers and feedback will be stored anonymously for analysis;</li>
        <li>If users wish to enter the prize draw, they will be offered an opportunity to send an email to the promotors on completion of the quiz and feedback. This email will be held only as long as necessary to comply with the process outlined in clauses <a href="#clause9">9</a>  &amp; <a href="#clause14">14</a>; and</li>
        <li>Winners will be asked for full postal details to allow the prize to be sent by courier service to the given address based in United Kingdom. The email will come from <something-tbc>@ukhsa.gov.uk. You will not be asked for any other detail such as bank details or any payment. </li>

    </ol>

{%endblock%}
